

.botao-seta {
    position: fixed; /* Posiciona o botão fixo na tela */
    top: 20px; /* Distância do topo da tela */
    left: 20px; /* Distância da esquerda da tela */
    z-index: 100; /* Garante que o botão esteja acima de outros elementos */
  }

.body{
  background-color: #FFF0F5;

}
.Fotos {
  display: flex; /* Ativa o layout flexbox */
  justify-content: center; /* Centraliza os itens na horizontal */
  align-items: center; /* Centraliza os itens na vertical */
  gap: 8px; /* Espaço entre os itens */
}
 
/* Imagens dentro da div */
.container-fotos img {
  flex: 0 0 auto; /* Define o tamanho das imagens */
  max-width: 300px; /* Largura máxima das imagens */
  height: auto; /* Mantém a proporção da imagem */
}


  .titulo {
    text-align: center; 
    color: #800000;
    width: 690px;
    height: 310px;
    margin-top: 200px;
    margin-left: 200px;
    }
  .botao-seta a {
    display: block;
    width: 24px;
    height: 24px;
    text-decoration: none;
  }
   


 





.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    background-color: #800000;
    color: #800000;
    text-align: center;
    line-height: 68px;
}