header {
    position: sticky;
    top: 0;
    text-align: center;
    width: 1440px;
    height: 164px;
    background-color: #800000; /* Cor de fundo do cabeçalho */
    display: flex; /* Usar flexbox para centralizar o logo */
    justify-content: center; /* Centralizar o logo na horizontal */
    align-items: center; /* Centralizar o logo na vertical */
    margin-right: 0%;
    margin-left: 0%;
    box-sizing: border-box;
}
 
.logo {
    width: 200px; /* Ajustar o tamanho do logo */
    height: auto;
}

.section{
    background-image: url(Imagens/Fundo\ index\ auto\ v1.png);
    background-size:  1440px, 141px;
    background-position: right;
}



.body{
  
   background-size: cover;
   background-position-x: right;
    }
    .titulo {
    text-align: left; 
    color: #800000;
    width: 690px;
    height: 153px;
    }

    .img{
        position: fixed; /* Fixar a imagem na tela */
        top: 0; /* Posicionar no topo */
        left: 0; /* Posicionar na esquerda */
        width: 100%; /* Cobertura total na horizontal */
        height: 100%; /* Cobertura total na vertical */
        z-index: -1; /* Posicionar atrás do conteúdo */
      }

.button{
    content: ''; /* Conteúdo vazio para o ícone */
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #800000; /* Contorno preto para o triângulo */
    border-right: transparent; /* Remover borda direita para criar a seta */
    border-top: transparent; /* Remover borda superior para criar a seta */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 1473px;
    height: 68px;
    background-color: #800000;
    color: #800000;
    text-align: center;
    line-height: 68px;
}