header {
    position: sticky;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #800000; /* Cor de fundo do cabeçalho */
    justify-content: center; /* Centralizar o logo na horizontal */
    align-items: center; /* Centralizar o logo na vertical */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    margin: 0;
    
}

.cabecalho{
    

}
 
.logo {
    width: 100px; /* Ajustar o tamanho do logo */
    height: 100PX;
}

.section{
    background-image: url(Imagens/Fundo\ index\ auto\ v1.png);
    background-size:  141px;
    background-position: right;
}



.body{
  
   background-size: cover;
   background-position-x: right;
   margin: auto;
   overflow: hidden;
    }
    .titulo {
    text-align: left; 
    color: #800000;
    width: 690px;
    height: 153px;
    }

    .img{
        position: fixed; /* Fixar a imagem na tela */
        top: 0; /* Posicionar no topo */
        left: 0; /* Posicionar na esquerda */
        width: 100%; /* Cobertura total na horizontal */
        height: 100%; /* Cobertura total na vertical */
        z-index: -1; /* Posicionar atrás do conteúdo */
      }

.button a{
    content: 'none'; /* Conteúdo vazio para o ícone */
    display: inline-block;
    width: 187px;
    height: 65px;
    border: 2px solid #800000; /* Contorno preto para o triângulo */
    border-right: transparent; /* Remover borda direita para criar a seta */
    border-top: transparent; /* Remover borda superior para criar a seta */
    margin-top: 20PX;
    margin-bottom: 10PX ;
    margin-left: 20PX;
    margin-right:20PX ;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    background-color: #800000;
    color: #800000;
    text-align: center;
    line-height: 68px;
}